name: ci_workflow.yml
on:
  push:
    branches: [main]

  pull_request:
    branches: [main]


jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      # DOCKER-SETUP
      - uses: "actions/checkout@v4" # github repo in virtual machine herunterladen
      - run: "docker build -t  events-api ." # in dieser vm aus dem repo ein docker image m.d. namen "events-api" bauen
      - run: "docker run -d -p 5000:5000 events-api"  # docker container aus diesem image starten
      - run: "sleep 5"        #warten
      - run: "curl localhost:5000/api/health" # curl request an API in container
      # PYTHON-SETUP
      - uses: "actions/setup-python@v4"
        with: {python-version: "3.11"}
      - run: "pip install -r requirements.txt"
      - run: "pip install -r requirements-test.txt"
      # RUN TESTS
      - run: "pytest -v"
